<h1>All Workspaces</h1>
<% @workspaces.each do |workspace| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <p><%= link_to workspace.title, workspace %></p>
            </h4>
        </div>
    </div>
<% end %>