<section class="welcome-page container-fluid">
    <br>
    <div class="jumbotron banner">
        <h1>FlightMetrics</h1>
        <p>FlightMetrics is a resource for LGP Operations to efficiently faciliate OAG Data managing and other aspects of operations.</p>
    </div>
    
    <div class="row">
        <div class="col-md-4 banner container">
            <h2>Customize Data Layouts</h2>
            <p>Upload your OAG Data and request customized outputs for easier reading.</p>
        </div>
        <div class="col-md-4 banner container">
            <h2>Request Custom Output Columns</h2>
            <p>Request specific OAG based Data output for each day of Data.</p>
        </div>
        <div class="col-md-4 banner container">
            <h2>Coming soon...</h2>
            <p>Sign up for JetBridge training and record and log all incidents relating to individual operators.</p>
        </div>
    </div>
</section>