// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-page {
    h1 {
        color: red;
    }
    
    body {
        
    }
    
    .banner {
        background-color: white;
        background-size: cover; 
        overflow: hidden;
        border-radius: 6px;
        opacity: 0.5;
        margin: 3%;
        color: black;
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    }
}
